<div id="<%= dom_id institution %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= institution.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Contact number:</strong>
    <%= institution.contact_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= institution.address %>
  </div>
</div>
