<% content_for :title, "New booking" %>

<%= render "shared/form_wrapper" do %>
  <div class="max-w-lg mx-auto px-4 py-6">
    <h1 class="font-bold text-50">New booking</h1>

    <%= render "form", booking: @booking %>
  </div>
<% end %> 
